.Main{
    position: fixed;
    background-image: url("https://media.istockphoto.com/id/1068830604/photo/abstract-blurred-beautiful-interior-of-lobby-reception-condominium-background-with-bokeh.webp?b=1&s=170667a&w=0&k=20&c=YEOJoT986XSLjKqBzcRrNJ6mZN6aHExB6RLz9kyFAuk=");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width:100%;
}
.Line
{
    position: relative;
    width: 5px;
    background-color: rgb(184, 184, 215);
    height: 70%;
    margin: auto;
    margin-top: 50px;
}
.Circle1
{
    
    border-color: black;
    border-radius: 50%;
    background-color: white;
    height: 15px;
    width: 15px;
    left: 49.5%;
    position: absolute;
    top: 60%;
}
.HighSchool
{
    left: 30%;
    width:20%;
    position: absolute;
    top: 60%;
    color: rgb(80, 80, 98);
    font-style: italic;
    
}
.TitleHS
{
    margin-left: 20%;
}
.UniHS
{
    margin-left: 10%;
}
.HighSchoolYear{
    position: absolute;
    left: 60%;
    width:20%;
    top: 60%;
    color: rgb(80, 80, 98);
    font-style: italic;
    font-size: 20px;
}
.Circle2
{
    border-radius: 50%;
    background-color: white;
    height: 15px;
    width: 15px;
    left: 49.5%;
    position: absolute;
    top: 30%;
}
.Uni
{
    left: 30%;
    width:20%;
    position: absolute;
    top: 30%;
    color: rgb(80, 80, 98);
    font-style: italic;
}
.UniYear
{
    position: absolute;
    left: 60%;
    width:20%;
    top: 30%;
    color: rgb(80, 80, 98);
    font-style: italic;
    font-size: 20px;
}
.proLanguages{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.414);
    width: 25%;
    margin-left: 22%;
    margin-top: 10%;
    color: rgb(80, 80, 98);
    font-style: italic;
    padding: 5px;
    border-radius: 5%;
}
.Languages{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.414);
    color: rgb(80, 80, 98);
    font-style: italic;
    margin-left: 52%;
    margin-top: 10%;
    width: 25%;
    padding: 5px;
    border-radius: 5%;
}