.Main{
    position: fixed;
    background-image: url("https://media.istockphoto.com/id/1068830604/photo/abstract-blurred-beautiful-interior-of-lobby-reception-condominium-background-with-bokeh.webp?b=1&s=170667a&w=0&k=20&c=YEOJoT986XSLjKqBzcRrNJ6mZN6aHExB6RLz9kyFAuk=");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width:100%;
}
.Line
{
    position: absolute;
    width: 5px;
    background-color: rgb(184, 184, 215);
    height: 70%;
    margin: auto;
    margin-top: 50px;
    margin-left: 50%;
}

.Circle1
{
    
    border-color: black;
    border-radius: 50%;
    background-color: white;
    height: 15px;
    width: 15px;
    left: 49.5%;
    position: absolute;
    top: 60%;
}
.HighSchool
{
    left: 30%;
    width:20%;
    position: absolute;
    top: 60%;
    color: rgb(80, 80, 98);
    font-style: italic;
    
}
.TitleHS
{
    margin-left: 20%;
}
.UniHS
{
    margin-left: 10%;
}
.HighSchoolYear{
    position: absolute;
    left: 60%;
    width:20%;
    top: 60%;
    color: rgb(80, 80, 98);
    font-style: italic;
    font-size: 20px;
}
.Circle2
{
    border-radius: 50%;
    background-color: white;
    height: 15px;
    width: 15px;
    left: 49.5%;
    position: absolute;
    top: 30%;
}
.Uni
{
    left: 30%;
    width:20%;
    position: absolute;
    top: 30%;
    color: rgb(80, 80, 98);
    font-style: italic;
}
.UniYear
{
    position: absolute;
    left: 60%;
    width:20%;
    top: 30%;
    color: rgb(80, 80, 98);
    font-style: italic;
    font-size: 20px;
}
.proLanguages{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.414);
    width: 25%;
    margin-left: 22%;
    margin-top: 12%;
    color: rgb(80, 80, 98);
    font-style: italic;
    padding: 5px;
    border-radius: 5%;
    height: 100px;
    font-size:  medium;
}
.Languages{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.414);
    color: rgb(80, 80, 98);
    font-style: italic;
    margin-left: 52%;
    margin-top: 12%;
    width: 25%;
    padding: 5px;
    border-radius: 5%;
    height: 100px;
    font-size:  medium;
}
.Framework
{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.414);
    width: 25%;
    margin-left: 22%;
    margin-top: 23%;
    color: rgb(80, 80, 98);
    font-style: italic;
    padding: 5px;
    border-radius: 5%;
    height: 100px;
    font-size:  medium;
}
.Enviroment
{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.414);
    width: 25%;
    margin-left: 52%;
    margin-top: 23%;
    color: rgb(80, 80, 98);
    font-style: italic;
    padding: 5px;
    border-radius: 5%;
    height: 100px;
    font-size: medium;
}
.HLine
{
    background-color: rgb(80, 80, 98);
    margin-top: 21.5%;
    width:60%;
}
.VLine{
    position: absolute;
    margin-left: 50%;
    width: 1px;
    height: 45%;
    margin-top: 10%;
    background-color: rgb(80, 80, 98);
}
#aboutProLanguages{
    position: absolute;
    background-color: rgba(184, 184, 215, 0.904);
    width:40%;
    height: 45%;
    left:30%;
    top:20%;
    text-align: center;
    border-radius: 5%;
}
.hovered{
    position: absolute;
    width: 25%;
    margin-left: 37%;
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.384);
    font-style: italic;
    padding: 5px;
    border-radius: 5%;
    height: 20px;
    text-align: center;

}
#aboutLanguages,#aboutFramework,#aboutEnvironment
{
    position: absolute;
    background-color: rgba(184, 184, 215, 0.904);
    width:40%;
    height: 45%;
    left:30%;
    top:20%;
    border-radius: 5%;
}
.Text1
{
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
}
#C{
    font-weight: bold;
}
.X1,.X2,.X3,.X4
{
    position: absolute;
    height: 5%;
    width: 5%;
    right: 2%;
    top:2%;
}
.Hobbies
{
    position: absolute;
    background-image: url("https://media.istockphoto.com/id/1068830604/photo/abstract-blurred-beautiful-interior-of-lobby-reception-condominium-background-with-bokeh.webp?b=1&s=170667a&w=0&k=20&c=YEOJoT986XSLjKqBzcRrNJ6mZN6aHExB6RLz9kyFAuk=");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.Sport
{
    position: absolute;
    width: 20%;
    height: 40%;
    top: 15%;
    left:20%;
    border-right: 1px solid black;
    color:rgb(80, 80, 98);
    text-align: center;
    padding: 10px;
}
.volunteerism
{
    position: absolute;
    width: 20%;
    height: 40%;
    top: 15%;
    left:42%;
    border-right: 1px solid black;
    color:rgb(80, 80, 98);
    padding: 10px;
    text-align: center;
}
.Awards{
    position: absolute;
    width: 20%;
    height: 40%;
    top: 15%;
    left:64%;
    color:rgb(80, 80, 98)
}
.Title{
    text-align: center;
    color:rgb(80, 80, 98)
}
@media screen and (max-width:740px) {
   
    .Main
    {
        overflow: auto;
    }
    .HighSchool{
        width:45%;
        left:5%;
        top:53%;
    }
    .HighSchoolYear
    {
        top:53%;
    }
    .Uni{
        width:45%;
        left:5%;
        top:25%;
    }
    .UniYear
    {
        top:25%;
    }
    .TitleHS
    {
        margin-left: 10%;
    }
    .Line
    {
        height: 65%;
        top:7%;
    }
    .Circle1
    {
        left:49%;
        top:53%;
    }
    .Circle2
    {
        left: 49%;
        top:25%;
    }
    .proLanguages
    {
        width:70%;
        margin-left:15%;
    }
    .Languages
    {
        top:17%;
        width:70%;
        margin-left:15%;
    }
    .Framework
    {
        top:27%;
        width:70%;
        margin-left:15%;
    }
    .Enviroment
    {
        top:45%;
        width:70%;
        margin-left:15%;
    }
    #aboutProLanguages
    {
        left:10%;
        width:80%;
        top:10%;
        height: 70%;
    }
    #aboutLanguages
    {
        width:80%;
        top:20%;
        left:10%;
        height: 45%;
    }
    #aboutFramework
    {
        width:80%;
        top:20%;
        left:10%;
        height: 50%;
    }
    #aboutEnvironment
    {
        width:80%;
        top:15%;
        left:10%;
        height: 55%;
    }
    .hovered
    {
        margin-top:5%;
    }
    .Sport
    {
        position: relative;
        border: 0ch;
        width: 80%;
        left: 7%;
        border-bottom: 1px solid black;
    }
    .volunteerism
    {
        position: relative;
        border: 0ch;
        width: 80%;
        left: 7%;
        border-bottom: 1px solid black;
    }
    .Awards
    {
        position: relative;
        border: 0ch;
        width: 80%;
        left: 7%;
    }
    .Hobbies
    {
        position: static;
        top: 0%;
    }
    ul{
        margin-bottom: 0;
    }
}