
body{
    margin: 0;
}
.Forma
{
    display: block;
    width: 100%;
    height: 100px;
    list-style: none;
    background-color: rgb(184, 184, 215);
}
#Name
{
    position:absolute;
    margin-top: 35px;
    margin-left: 10px;
    color: rgb(241, 242, 243);
    font-size: 25px;
}
#Me
{
    position:fixed;
    background-image: url("https://media.istockphoto.com/id/1068830604/photo/abstract-blurred-beautiful-interior-of-lobby-reception-condominium-background-with-bokeh.webp?b=1&s=170667a&w=0&k=20&c=YEOJoT986XSLjKqBzcRrNJ6mZN6aHExB6RLz9kyFAuk=");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width:100%;
}
#Info
{
    box-sizing: border-box;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    width: 40%;
    height: 50%;
    position: relative;
}
#Title
{
    position: absolute;
    font-style: italic;
    padding-left: 15%;
    font-size: 25px;
    color: rgb(184, 184, 215);
    top:3%;
}
#image{
    width: 50%;
    height: 100%;
}
#OtherInfo
{
    font-style: oblique;
    font-size: 16px;
    position:fixed;
    margin-top: 7%;
    margin-left: 1%;
    width:15%;
    color: black;
}
.Buttons{
    position: absolute;
    padding: 5px;
    right:1px;
    top:35px;
}
 .btn3,.btn2,.btn1,.btnHome
{
    border-radius: 10%;
    border: 0ch;
    background-color: rgba(255, 255, 255, 0.822); 
    width:80px;
    height: 25px;
    margin-left: 5px;
    color: rgb(160, 160, 188); 
} 
.Links
{
    box-sizing: border-box;
    margin: auto;
    background-color: rgb(184, 184, 215);
    width: 45%;
    height: 4%;
}
.Logoes
{
    margin: auto;
    width:25%;
    height: 80%;
}
#LinkedIn,#fb,#Ig,#Git
{
    margin-top: 1%;
    margin-right:9%;
    width: 16%;
    height: 100%;
}
.Edu{
    font-style: italic;
    text-decoration: none;
}
.subTitle
{
    position: absolute;
    font-style:oblique;
    padding-left: 55%;
    font-size: 13px;
    color: rgb(0, 0, 0);
    top:15%;
}
.Toggle
{
    display: none;
}
@media screen and (max-width:720px) {
    #Me
    {
        overflow: auto;
    }
    #image{
        width:100%;
        height: 50%;
    }
    #Info{
        width: 80%;
        height: 120%;
    }
    #Title
    {
        top: 56%;
        left:15%;
    }
    .subTitle
    {
        position: absolute;
        top: 61%;
        left:10%;
        padding-left: 0%;
    }
    #OtherInfo
    {
        position: relative;
        top:10%;
    }
    .btnHome,.btn1,.btn2,.btn3{
        left: 0%;
        width: 100%;
        position: relative;
        border: 1px solid black;
    }
    .btnHome,.btn1,.btn2,.btn3:hover{
        
    }
    .Buttons{
        top:10%;
        width: 100%;
    }
    .Buttons.active
    {
        display: hide;
    }
    .Forma
    {
        height: 179px;
    }
    #Name
    {
        position: relative;
        margin-left: 40%;
        top: 15%;
    }
    .Toggle
    {
        display: block;
        left: 2px;
        top:3%;
        position: absolute;
        height: 5%;
        width: 8%;
    }
    .Menu
    {
        height: 100%;
        width: 100%;
    }
    .Forma.active
    {
        height: 70px;
    }
    .Links{
        position: absolute;
        top:63%;
        left:10%;
        width: 80%;
    }
    .Logoes
    {
    margin: auto;
    width:50%;
    }
    #LinkedIn,#fb,#Ig,#Git
    {
    margin-top: 1%;
    margin-right:9%;
    width: 15%;
    height: 100%;
    }
}